/** 6.7.1. About Us **/

/** 6.7.2. Contact Us **/

/** 6.7.3. Shopping Cart**/

/** 6.7.4. Page 404 **/
.page-404{
	h3{
		font:300 200px/480px "Oswald";
		color:#fff;
		background:#df4232;
		display: inline-block;
		width: 480px;
		height: 480px;
		border-radius:100%;
		@media(max-width:480px){
			width:280px;
			height: 280px;
			line-height: 280px;
			font-size: 150px;
		}
	}
	p{
		font:400 14px/20px "Lato";
		color:#999;
		b{
			font-size:18px;
			font-weight: 800;
		}
		a{
			color:#df4232;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	.form-404{
		height: 48px;
		width: 430px;
		position: relative;
		margin: auto;
		@media(max-width:480px){
			width: 100%;
		}
		input{
			width:100%;
			height: 48px;
			border:1px solid #9a9a9a;
			font:400 14px/46px "Lato";
			color:#9a9a9a;
			padding-left:20px;
			padding-right:50px;
		}
		button{
			background:none;
			border:none;
			outline: none;
			position: absolute;
			top:10px;
			right: 10px;
			i{
				font-size:18px;
				color:#333;
			}
		}
	}
	a{
		&.link-button{
			margin: 0px 10px;
		}
	}
}
#googleMap{
	width:100%;
	height:500px;
	margin-bottom:30px;
	@media screen and (max-width: 568px){
				height: 270px;
			}
}
.shopping-cart{
	.breadcrumb{
		margin-bottom: 50px;
	}
	.shipping-total{
		margin-bottom: 80px;
		display: inline-block;
		width: 100%;

	}

}
.wishlist{
	.breadcrumb{
		margin-bottom: 50px;
	}
}

// Login
.login-box-container{
	text-align:center;
	display:inline-block;
	width:100%;
	margin-bottom:50px;
	ul.tabs{
		margin-bottom:30px; 
		li{
			display: inline-block;
			text-transform: uppercase;
			color: #c6c6c6;
			font-size: 14px;
			letter-spacing: 2px;
			position: relative;
			padding-right:20px;
			margin-right:10px;
			cursor: pointer;
			font-weight: 700;
			@include transition(all 0.3s ease 0s);
			&:last-child{
				padding-right:0px;
				margin-right:0px; 
				&:after{
					content: "";
				}
				&.active,&:hover{
					&:before{
						right: 2px;
					}
				}
			} 
			&:after{
				position:absolute;
				content: "/";
				right: 0px;
				top:0px;
			}
			&:before{
				position:absolute;
				bottom:0px;
				left: 0px;
				height: 2px;
				background: #000;
			}
			&.active,&:hover{
				color: #000000;
				&:before{
					content: "";
					right: 21px;
				}
			}
		}
	}
	.tab-container{
		p{
			font-family: "Poppins";
			font-size: 13px;
			color: #858585;
			margin-bottom:60px; 
		}
	}
	.form-control{
		border: none;
		border-bottom:2px solid #252525;
		box-shadow:none;
		max-width: 360px;
		padding-left:0px;
		font-family: "Poppins";
		font-size: 13px;
		color: #636363;
	}
	.contact-form{
		.col-md-6{
			.form-control{
				float: left;
			}
			&:nth-child(2n+1){
				.form-control{
					float: right;
				}
			}

		}
	}
}
#lightgallery{
	.col-md-4{
		padding:0px;
		img{
			width: 100%;
		}
	}
	.hover-images{
		position:relative;
		&:after{
			position:absolute;
			height: 26px;
			width: 26px;
			top: 50%;
			left: 50%;
			margin-top:-13px;
			margin-left:-13px;
			background:url(../images/lbook-plus.png)no-repeat;
			@include transition(all 0.5s ease 0s);
			content: "";
			opacity: 0;
		}
		&:hover{
			&:after{
				opacity: 1;
			}
		}
	}
	.effect-v6{
		img{
			@include transition(all 0.5s ease 0s);
		}
	}
}
.lookbook-v4,.lookbook-v5{
	img{
		width: 100%;
	}
	.col-md-12,.col-md-6{
		padding:0px;
		background:#141618;
	}
	.bg-container{
		background:#141414;
		overflow: hidden;
	}
}
.slider-loobook2{
	.items{
		position: relative;
		margin-bottom:100px; 
		padding:50px 0px;
		.text{
			position:absolute;
			left: 100px;
			right: 100px;
			background:#fff;
			bottom:-65px;
			padding-top:65px;
			text-align: center;
			h3{
				font:400 40px "Playfair Display";
				color: #000;
				line-height: 40px;
				margin-bottom:15px; 
			}	
			p{
				font-weight: 300;
				font-family: "Oswald";
				text-transform: uppercase;
				letter-spacing: 3px;
				color: #9d9d9d;
				position:relative;
				padding-bottom:20px;
				margin-bottom: 35px;
				&:after{
					position:absolute;
					content: "";
					left: 50%;
					width:70px;
					height: 2px;
					background:#000;
					bottom:0px;
					margin-left: -35px;
				}
			}
			a{
				display: inline-block;
				padding:10px;
				background:#000;
				color: #fff;
				border:2px solid #000;
			}
		}
	}
}
.order-tracking{
	text-align:center;
	p{
		max-width: 720px;
		padding:0 20px;
		font:400 14px/20px "Poppins";
		margin: auto;
		margin-bottom:40px; 
	}
	.tracking-content{
		width:420px;
		max-width: 100%;
		margin: auto;
		background:#f0f0f0;
		padding:40px 30px;
		margin-bottom:80px; 
		.form-control{
			border:none;
		}
		.form-horizontal label.control-label{
			font:700 12px/15px "Oswald";
			color:#000;
			letter-spacing: 2px;
		}
		.link-button.color-red{
			line-height: 54px;
			width: 100%;
		}
	}
}
.table.wishlist{
	margin-bottom:100px;
	@media(max-width:767px){
		margin-bottom:50px; 
	}
	img{
		width:100px;
	}
	tbody{
		tr:first-child{
			td{
				border-top:none;
			}
		}
		tr{
			padding:30px 0px;
		}
		td{
			vertical-align: middle;
			padding-top:20px; 
			padding-bottom:20px;
		}
		.product-photo{
			@media(min-width:768px){
				width: 120px;
			}
		}
		.produc-name{
			text-align: left;
			font:400 14px/20px "Poppins";
			@media(min-width:768px){
				width: 350px;
			}
			a{
				color:#333;
				&:hover{
					color:$brand-primary;
				}
			}
			p{
				margin: 0px;
				color:#979797;
			}
		}
		.product-remove{
			a{
				color:#333;
				font-family: "Poppins";
			}
		}
		.product-price{
			font-family:"Poppins";
			@media(min-width:768px){
				width:200px;
			}
			@media (max-width:480px){
				display: none;
			}
		}
		.product-instock{
			@media (max-width:480px){
				display: none;
			}
			a,span{
				font:400 10px/20px "Oswald";
				letter-spacing: 2px;
				border:2px solid #000;
				text-transform:uppercase;
				display: inline-block;
				width:100px;
				text-align: center;
				color:#000;
			}
			span{
				border-color:#e7e7e7;
				background:#e7e7e7;
				color:#c1c1c1;
			}
		}
		.add-cart{
			text-align: right;
			a.btn{
				height: 44px;
				line-height: 40px;
				width: 130px;
				text-align: center;
				font-size: 10px;
				padding:0px;
				background:#f56666;
				border-color:#f56666;
			}
		}

	}
}