.checkout-header{
	ul{
		padding: 10px 0px 20px;
		display: inline-block;
		width: 100%;
		margin-bottom: 50px;
		border-bottom: 1px solid #e5e5e5;
		li{
			display: inline-block;
			width: 33.33%;
			float: left;
			text-transform: uppercase;
			color: $gray-dark;
			font-size: 15px;
			&:nth-child(2){
				text-align: center;
			}
			&:nth-child(3){
				text-align: right;
			}
			&.active{
				span{
					background: $brand-primary;
					color: #fff;					
				}
			}
			span{
				display: inline-block;
				margin-right: 10px;
				padding:8px 13px;
				border-radius: 50%;
				background: #e5e5e5;
				color: $gray-dark;
				@include size(40px,40px);
			}
		}
	}
}
.checkout-heading1,.checkout-heading2{
	margin:10px 0px;
	i,p,a{
		display: inline-block;
	}
	i{
		width: 42px;
		height: 42px;
		text-align: center;
		line-height: 40px;
		border:1px solid #d7d7d7;
		border-radius:50%;
		margin-right:10px; 
	}
	p{
		font:600 14px/20px "Poppins";
		color: #000;
	}
	a{
		color: #e95252;
		font:600 14px/20px "Poppins";
	}
}
.check-out{
	.form-horizontal{
		label.control-label{
			font:300 12px/15px "Oswald";
			letter-spacing: 2px;
			color: #000;
			text-transform: uppercase;
		}
		.form-control{
			border-color:#e5e5e5;
			box-shadow:none;
		}
	}
	.form-check{
		display: inline-block;
		font:400 14px/20px "Poppins";
		color: #000000;
		padding-left:30px;
		background:url("../images/check-icon.png") no-repeat scroll 0 2px;
		cursor: pointer;
		&.size-12{
			font-size: 12px;
			padding-left:25px;
		}
		&.active{
			background:url("../images/check-icon.png")no-repeat scroll left 0 bottom 2px;
		}
		span{
			color: #e95252;
			display: inline-block ;
		}
	}
	.text-price{
		padding-bottom:95px; 
	}
}
.cart-box-container .text-price ul li .text.text-cap{
	letter-spacing:0px;
	text-transform:capitalize;
	font-family:"Poppins";
	font-size:14px;
}
.account{
	.col-md-6{
		&:nth-child(2n+1){
			padding-left: 0px;
		}
		&:nth-child(2n){
			padding-right: 0px;
		}
	}
	p{
		font-family: "TXGR";
		color: $gray-light;
	}
}
.bold{
	font-weight:700;
}
.cart-review{
	display:inline-block;
	width: 100%;
	table.table{
		th{
			&:nth-child(2){
				width: 30%;
			}
			&:nth-child(3){
				width: 15%;
			}
		}
		td{
			&:nth-child(2){
				color: $gray-light;
			}
			&:nth-child(3),&:nth-child(5){
				color: $gray;
				font-style: normal;
				font-size: 18px;
				font-family: "TXGB";
			}
		}
	}
}
.icon{
	width:100%;
	text-align:center;
	.fa-shopping-basket{
		font-size: 300px;
		color: #ddd;
		position: relative;
	}
	.fa-check{
		position: absolute;
		right: -33px;
		bottom: -50px;
		font-size: 160px;
		color: #e11111;
	}
	h3,h4{
		text-transform: uppercase;
		color: $gray;
		text-align: center;
	}
	h3{
		font-size: 30px;
		margin-top: 80px;
	}
	h4{
		font-size: 18px;
		margin: 10px 0px;
	}
}
.order-details{
	.col-md-6{
		&:nth-of-type(2n+1){
			padding-right:0px;
		}
		&:nth-of-type(2n){
			padding-left:0px;
		}
		h4{
			font-size: 15px;
			color: $gray;
			line-height: 20px;
			text-transform: capitalize;
			margin-bottom: 15px;
		}
		p{
			font-family: "TXGR";
			color: $gray-light;
			margin: 4px 0px;
			line-height: 20px;
			b{
				color: #222;
				font-weight:400;
			}
			&.total{
				text-transform: uppercase;
				color: $brand-primary;
				font-style: normal;
				margin-top: 30px;
				font-size: 15px;
				font-family: "TXGB";
				span{
					color: $gray;
				}
			}
		}
	}
}
.payment-order{
	ul.tabs{
		li{
			padding: 20px 0px 20px 20px;
			position: relative;
			border-bottom:1px solid #dadada;
			&:first-child{
				border-top:1px solid #dadada;
			}
			h4{
				font:600 18px/20px "Poppins";
				color: #000;
			}
			p{
				color: #9d9d9d;
				font:400 12px/20px "Poppins";
				margin-top:10px; 
			}
			i{
				@include size(12px,12px);
				content: "";
				border-radius: 50%;
				position: absolute;
				left: 0px;
				top: 23px;
				background:rgba(0, 0, 0, 0) url("../images/select-radio.png") no-repeat scroll left top;
			}
			a{
				font:400 12px/20px "Poppins";
				color: #e95252;
				margin-top:20px;
				display: inline-block; 
				height: auto;
			}
			&.active{
				i{
					background: rgba(0, 0, 0, 0) url("../images/select-radio.png") no-repeat scroll left bottom;
				}
			}
			img{
				margin-left:30px; 
			}
		}
	}
}
.place-order-now{
	text-align:center;
	margin-top:30px;
}
.form-group{
	margin-bottom:25px;
}
.check-billing{
	.text-price ul li{
		padding:20px 0;
		.text{
			font-family: "TXGB";
		}
		.number{
			&.color{
				color: #e11111;
			}
		}
	}

}
@include maxDesktop{
	.account{
		.col-md-6{
			padding: 0px;
		}
	}
	.order-details{
		.col-md-6{
			padding: 0px;
		}
	}
}
@include maxtable{
	.check-confirm{
		.col-md-6{
			padding: 0px;
			&.order-details{
				margin-top: 40px;
			}
			.icon{
				h3{
					font-size: 20px;
				}
				h4{
					font-size: 15px;
				}
			}
		}
		.col-md-12{
			padding: 0px;
		}
		.return-home a:first-child{
			margin-right: 10px;
		}
	}
	.check-billing{
		.contact-form{
			.col-md-6{
				padding: 0px;
			}
		}
	}
	.acc-login .form-group .btn.acc:nth-child(2n+1){
		width: 100%;
	}
	.account .col-md-6.acc-login{
		margin-top: 50px;
	}
}
@include maxmobile{
	.checkout-header ul{
		li{
			width: 100%;
			text-align: left;
			margin-bottom: 20px;
		}
	}
	.icon .fa-shopping-basket{
		font-size: 220px;
	}
}