// Grid Side Bar
#secondary{
	float: left;
	&.col-md-3{
		padding-left: 0px;
		padding-right: 20px;
	}
	.search-form{
		position: relative;
		input{
			width: 100%;
			height: 48px;
			border:2px solid #000;
			padding:0 20px;
			color: #9d9d9d;
			font:400 12px "Poppins";

		}
		button{
			position: absolute;
			background: none;
			color: #000;
			font-size: 14px;	
			border:none;
			position: absolute;
			top: 2px;
			right: 0px;
			border-left:1px solid #000;
			@include size(48px,44px);
		}
	}
}
#primary{
	float: right;
	&.col-md-9{
		padding-left: 10px;
		padding-right:0px;
	}
}
#secondary.secondary-home5{
	float: right;
	&.col-md-3{
		padding-right: 0px;
		padding-left: 20px;
	}
}
#primary.primary-home5{
	float: left;
	&.col-md-9{
		padding-right: 10px;
		padding-left:0px;
	}
}
.bottom-home1-title{
	h3.title{
		font-size: 24px;
		color: $gray-dark;
		text-transform: uppercase;
		padding-bottom: 20px;
		margin-bottom:30px;
		border-bottom: 1px solid $gray-lighter; 
	}
}
@include maxDesktop{
	.products{
		&.grid_full,&.grid_full.grid_sidebar{
			.item-inner{
				width: 33.33%;
			}
		}
	}
}

@include maxtable{
	.products{
		&.grid_full,&.grid_full.grid_sidebar{
			.item-inner{
				width: 50%;
			}
		}
	}
}

@include maxmobile{
	.products{
		&.grid_full,&.grid_full.grid_sidebar{
			.item-inner{
				width: 100%;
			}
		}
	}
	.ordering{
		.order-by{
			margin-top: 20px;
			margin-left: 0px;;
		}
	}
}