.ordering{
	font-size: 13px;
	color: $gray-dark;
	display: inline-block;
	width: auto;
	text-align:right;
	float:right;
	display:inline-block;
	a{
		display: inline-block;
		height: 35px;
		line-height: 35px;
		color: #333;
		padding: 0 15px;
		background: #eee;
		vertical-align: bottom;
	}
	span{
		display: inline-block;
		height: 30px;
		width: 30px;
  		background:url(../images/icon-col.png)no-repeat scroll center 10px;
  		vertical-align: bottom;
  		cursor: pointer;
  		&.active{
  			background-position:center bottom 6px;
  		}
  		&.list{
  			background:url(../images/icon-list.png)no-repeat center 10px; 
  			&:hover,&.active{
  				background-position:center bottom 7px;
  			}
  		}
  		&:hover{
  			@extend .active;
  		}
	}
	.order-by{
		display: inline-block;
		margin-left: 5px;
		position: relative;
		&::after{
			position: absolute;
			content: "\f0d7";
			top: 9px;
			right: 10px;
			font-family: FontAwesome;
			line-height: 1;
			font-size: 16px;
			font-style: normal;
			color: #e95252;
		}
	}
	form{
		vertical-align: bottom;
		select{
			@include appearance();
			border: none;
			box-shadow: none;
			padding:9px 20px 6px 15px;
			outline: none;
			color: #000;
			text-transform: uppercase;
			font:700 10px "Oswald";
			letter-spacing: 1px;
		}
	}
}

p.result-count{
	padding-bottom:3px;
	display:inline-block;
	font:400 12px "Poppins";
	color:#8d8c8c;
	margin-left:20px;
}
.breadcrumb{
	float:left;
	width:auto;
	display:inline-block;
	border:none;
	padding:0px;
	margin-top:5px;
	li{
		padding-right:0px;
		font:400 12px "Lato";
		text-transform: capitalize;
		&:after{
			content: '';
		}
		a{
			color: #9a9a9a;
		}
		+li{
			&:before{
				content:"ï„…";
				font-family:"FontAwesome";
				font-size: 12px;
				display: inline-block;
				line-height: 13px;
				text-align: center;
				width: 15px;
				height: 15px;
				border:1px solid #ddd;
				padding:0px;
				margin: 0px 10px; 
			}
		}
	}
}
.wrap-breadcrumb{
	display:inline-block;
	width:100%;
	padding-bottom:15px;
	margin-bottom:10px;
	border-bottom:1px solid #eee;
	padding-top:10px;
	text-align:center;
	.ordering-action{
		display: inline-block;
		margin-left:150px;
		a{
			display: inline-block;
			padding:5px 8px;
			border:1px solid #000;
			span{
				color: #000;
				font-size: 17px;
			}
		}
	}
}

nav.pagination{
	text-align:center;
	width:auto;
	margin:auto;
	padding-top:40px;
	border-top:1px solid #b5b5b5;
	margin-top:40px;
	ul{
		display: inline-block;
		li{
			display: inline-block;
			margin: 0 4px;
		}
	}
	a{
		display: inline-block;
		background: none;
		font-weight: 700;
		color: #373737;
		width: auto;
		height: auto;
		font:700 16px "Lato";
		&:hover{
			background:none;
			color: #000;
		}
		&.next,&.prev{
			margin-left:20px;
			margin-right:60px; 
			color: #b5b5b5;
			i{
				margin-right:5px;
				font-size: 16px;
				color:#b5b5b5;
			}
			&:hover{
				background:none;
				color:#000;
				i{
					color:#000;
				}
			} 
		}
		&.next{
			margin-right:20px;
			margin-left:60px;  
			i{
				margin-right:0px;
				margin-left:5px; 
			}	
		}
		@media(max-width:479px){
			font-size: 12px;
			&.next{
				margin-right: 0px;
				margin-left:10px;
			}
			&.prev{
				margin-left: 0px;
				margin-right:10px;
			}
		}
	}
}
.pagination-blog{
	nav.pagination{
		border:none;
		text-align: left;
		margin-bottom: 50px;
	}
}