.brand-content{
	display:inline-block;
	margin-bottom:30px;
	border-left:1px solid #e9e9e9;
	.owl-item{
		border:1px solid #e9e9e9;
		border-left:none;
		padding:2px;
	}
	&.owl-carousel .owl-item img{
		width:auto;
	}
	&.no-border{
		border:none;
		.owl-item{
			border:none;
		}
	}
}