.youtube-slide{
	background:#333;
	padding:30px 0px;
	iframe{
		width: 100%;
		height: 433px;
	}

	.item-youtube-slide{
		padding-right:15px;
		height:433px;
		overflow-y:scroll;
	}	
	@media (min-width:1200px){
		.col-md-4{
			padding-left:0px;
		}
	}
	.post-item{
		padding:15px;
		cursor: pointer;
		margin: 0px;
		position: relative;
		&:after{
			position: absolute;
			content: '';
			left: 15px;
			right: 0px;
			height: 1px;
			top:0px;
			background:#484848;
		}
		&:first-child{
			&:after{
				background:transparent;
			}
		}
		&:hover,&.active{
			background:#212121;
			&:after{
				background:transparent;
			}
			.images{
				img{
					opacity: 0.6;
				}
			}
		}
		&:hover + div,&.active + div{
			&:after{
				background:transparent;
			}
		}
		&.ver2{
			.text{
				padding-top:5px;
			}
			.images{
				width: 100px;
			}
		}
		.text{
			h2{
				span{
					font-size: 14px;
					vertical-align: top;
					&:after{
						top:4px;
						height: 15px;
					}
					&:hover{
						color:#fff;
					}
				}
			}
		}
	}
}
.item-youtube-slide::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	background-color: #484848;
}

.item-youtube-slide::-webkit-scrollbar
{
	width: 5px;
	background-color: #484848;
}

.item-youtube-slide::-webkit-scrollbar-thumb
{
	background-color: $brand-primary;
}
.wrap-slide-youtube{
	&.padding-bottom-60{
		position: relative;
		&:after{
			position: absolute;
			content: '';
			left: 0px;
			height: 15px;
			background:#fff;
			width: 100%;
			bottom:0px;

		}
	}
}