.tp-banner-container{
	.tp-leftarrow{
		margin-top: -40px ;
	}
	.tp-rightarrow{
		margin-top: -40px ;
	}
	span{
		font-size: 12px;
		line-height: 20px;
		padding-top: 5px;
	}
} 
.post-item.ver2.most .text .tag .comments{
	padding-left: 0;
}
.post-item .text .tag .comments{
margin-left: 15px;
}
.title-text{
	h3{
		font-size: 20px;	
	}
	p{
		line-height: 20px;
	}
	&::before{
		top: 17%;
	}
}
.slidershow-container{
	margin-bottom: 20px;
}
.tab-container{
	&.space-30{
		margin-bottom: 0px ;
	}
}
.box.margin-lr-0{
	margin-left:0px;
	margin-right:0px;
}
.brand-container{
	ul{
		li{
			width: 33.33%;
			border-bottom:1px solid $gray-lighter;
			&:first-child,&:nth-child(2){width: 50%;}
			&:nth-child(2){
				border-right:1px solid $gray-lighter;
			}
		}
	}
}
.mockup h2{
	font-size: 30px;
}
.title-text.title-text-v2.title-text-v3 h3{
	font-size: 24px;
}
#topbar{
	.social{
		display: none;
	}
	.dropdown{
		.btn{
			line-height:40px;
		}
	} 
}
.full{
	.col-xs-4{
		width: 50%;
	&:nth-child(2n+3){
			clear: left;
		}
		&:nth-child(2n+3){
			clear: left;
		}
	}
}
#header .cart .icon-cart{
	height: auto;
}
#header {
	.search i{
		height: auto;
	}
	.header-top{
		.col-sm-3{
			margin-top:0px ; 
		}
	}
	.topbar-right{
		width: 100%;
		text-align: center;
	}
}
// Home 3
#primary{
	float:left;
	width:100%;
	padding:0px ;
}
.banner-home3-bottom{
	.col-md-8{
		padding:0px ;
	}
	.col-md-4{
		padding:0px ;
		margin-top: 20px;
	}
} 
#secondary{
	display:inline-block;
	width:100%;
}
.mega-menu{
	.navbar-header,ul.navbar-nav{
		margin: 0px;
	}
} 
#topbar{
	height: 40px;
	display: none;
	.dropdown .btn{
		height: 40px;
		padding: 0 10px;
	}
	.topbar-right .sign-in{
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
	}
}
.banner-home1 .tp-simpleresponsive .comment_slider{
	    top: 52.5% !important;
	}
.modal.fade .modal-dialog .modal-content .modal-body{
	width: 70%;
}
.button-v1{
	height: 40px;
	width: 130px
}
#header .header-top{
	.logo{
		a{
			font-size: 25px;
		}
	}
	.col-md-10,.col-md-2{
		width: auto;
	}
	.col-md-2{
		float: right;
		margin-top: 8px; 
	}
	.icon-menu-mobile{
		float: left;
	}

}
.brea-contac .breadcrumb li {
    font: 300 18px "oswald";
}
.banner-post-right-v1 .text{
	    padding-left: 4%;
	    padding: 15px 4%;
}
.mega-menu ul.navbar-nav{
	margin-top: 20px;
	margin-bottom:15px;
}
// Home version 1
.bottom-home1.bottom-only-home1{
	.col-md-3{
		width: 100%;
		padding:0px ;
		&:nth-child(2){
			margin-top:30px; 
		}
	}
}
// footer
#footer{
	.menu-footer li{
		line-height: 30px;
		a{
			margin:0px 10px;
			font-size:10px;
		}
	}
	.social a{
		margin: 0 10px;
	}
}
.tp-bullets{
	opacity: 1 ;
}
.tp-rightarrow.default,.tp-leftarrow.default{
	opacity: 1 ;
}
// Cart
.cart-list{
	ul.list{
		height: 120px;
		overflow: scroll;
		li{
			padding:10px 0px;
		}
	}
}
// Blog Slider
.blog-slider{
	.blog-post-item{
		.blog-post-content{
			.cat{
				margin: 10px 0px;
				margin-top:20px; 
				&:after{
					bottom:-7px;
				}
			}
			.blog-title{
				font-size: 20px;
			}
			.comment{
				font-size: 10px;
			}
		}
	}
}
.products .product .action a{
	transform:translate(0px, 0px);
	opacity: 1;
}
// Home 3
#header{
	#topbar{
		&.topbar-v3{
			padding:0px;
			.social{
				display: inline-block;
				margin-top:0px; 
			}
			.topbar-right{
				width:auto;
				text-align: right;
			}
		}
	}
	&.header-v6{
		#topbar{
			&.topbar-v3{
				margin: 15px 0px;
			}
		}
	}
	&.header-v3{
		&.header-v7{
			#topbar.topbar-v3{
				margin-bottom: 30px;
			}
		}
	}
}
.shipping-v2{
	padding:25px 0px;
	.col-md-3{
		margin-bottom:20px; 
	}
}
#header.header-v4 #topbar{
	padding:3px;
}
.best-selling .col-md-4 .product .action{
	opacity: 1 ;
	display:inline-block ;
}
.banner-home8-top{
	.col-md-3{
		width: 100%;
	}
}
.time{
	.distance{
		width: 100px;
	}
}
.slider-loobook2{
	.slick-prev,.slick-next {
		width: 100px ;
	}
	.items{
		.text{
			left: 30px;
			right:30px;
			padding-top:30px;
			bottom:-35px;
			h3{
				font-size: 30px;
				line-height: 30px;
				margin-bottom: 10px;
			}
			p{
				font-size: 12px;
				margin-bottom: 20px;
			}
		}
	}
}
.banner-header{
	&.banner-lbook3{
		.text{
			height: 100px;
			margin-top:-100px; 		
			h3{
				font-size: 40px;
				line-height: 30px;
				margin-bottom:5px; 
			}
		}
	}
}
.blog-post-container-v4{
	.blog-post-content,.blog-post-image{
		transform: translate(0px, 0px);
		opacity: 1;
	}
} 
.girllook{
	.col-md-6{
		padding:0px;
	}
}
.slider-full-screen2 .slider-one-item .product .text{
	top:60px;
	.product-content{
		margin:0px;
	}
	.price{
		margin: 0px;
	}
}
.wrap-breadcrumb{
	.breadcrumb{
		width: 100%;
		text-align: center;
	}
	.ordering-action{
		margin: 10px auto;
		width: 100%;
	}
	.ordering{
		float: initial;
		margin: 0 auto 20px;
	}
}
#secondary.col-md-3{
	padding-right:0px;
}
.mockup-v2 .mockup-center{
	width:100%;
	text-align:center;
	.col-md-4{
		margin-bottom:30px;
		&:last-child{
			margin-bottom:0px; 
		} 
	}
}
.product-details-content.product-details-content-v2{
	.box-detalis-v2 .options{
		padding:0px;
	}
} 
.mockup .col-md-6{
	height:auto ;
	padding-bottom:30px;
	overflow:hidden;
	.wrap-text .text{
		padding-top:15px;
	}
}
.mockup-v2 .col-md-6{
	height:auto ;
	overflow:hidden;
	padding-bottom:30px;
	.text{
		.box-icons p{
			font:300 12px/15px "Oswald" ;			
			.icons{
				height: 50px;
				width: 50px;
				line-height: 50px;
				font-size: 20px;
				margin-right:10px;
			}
		}
	} 
}
.banner-product-details3 h3{
	font:400 14px/30px "Oswald";
}
.blog-masonry{
	.grid-sizer,.grid-item{
		width: 50%;
	}
}
.blog-masonry{
	margin:0px;
}
.banner-header.banner-lbook3.single-post{
	.text h3{
		font:400 30px/30px "Playfair Display";
	}	
}

.wrap-googlemap{
	.col-md-6{
		padding:0px ;
	}
}
#footer .newsletter-footer form{
	width:100%;
}
#footer{
	.footer-top{
		.col-md-6{
			padding-left:5px;
			padding-right:5px;
		}
	}
}
.tab-product-all{
	&.tab-product-all-v2{
		&.tab-por{
			.products{
				.item-inner{
					width: 50%;
					&:nth-child(2n+1){
						padding-right:7px;
						padding-left:0px;
					}
					&:nth-child(2n){
						padding-left:7px ;
						padding-right:0px;
					}
				}
			}
		}
	}
}
ul.tabs.tabs-title.tabs-title-por li{
	padding:0 15px;
}
.control-page{
	a.title{
		font:400 20px/20px "Playfair Display";
	}	
	.box-icon{
		height: 40px;
		width: 40px;
		margin-left:-20px;
		i{
			line-height: 40px;
			font-size: 15px;
		} 
	}
}
.popup-content{
	overflow-y:scroll;
	.popup-container .images{
		width: 100%;
		text-align: center;
		img{
			margin: 0 auto;
		}
	}
}
.popup-content-wrapper.popup-content-wrapper-v2{
	max-width:100%;
	border-radius:0px;
}
.quickview-wrapper{
	overflow-y:scroll;
	.quick-modal{
		margin-top:20px; 
	}
}
.quickview-wrapper #quickview-content .product {
	.product-images,.product-info{
		width: 100%;
		padding:0px;
	}
}
.travel{
	.col-md-6{
		width: 100%;
		margin-bottom:20px; 
	}
}
.technnology .post-item.ver2 .text h2 a{
	font-size:18px;
}
.item-private .text h3.title a{
	font-size:14px;
	line-height:20px;
}
  .banner.col-sm-9{
    float: left;

  }

  #header {
  	.header-top {
  		padding-top: 0;
  		text-align: center;
  		.icon-menu-mobile{
  			margin-top: 30px;
  		}
  		.logo-mobile{
  			padding-right: 30px;
  			float: left;
  			margin-top:5px;
  		}
  		.social a{
  }
}
}
#footer.footer-v1 h3.widget-title{
	margin-bottom: 5px;
}

.banner-home5-widget{
	images img{
		width: 100%;
	}
}
.breadcrumb{
	margin-top: 0;
	margin-bottom: 10px !important;
}
#header.header-v2 .header-padding{
	padding: 10px 15px;
}
@media screen and ( max-width: 680px){
	.header-v1 .mega-menu ul.navbar-nav .sub-menu .col-md-2{
		width: 50%;
	}
	.header-v1 .mega-menu ul.navbar-nav .sub-menu .col-md-8{
		width: 100%;
	}
	.header-v2 .mega-menu ul.navbar-nav .sub-menu .col-md-2{
		width: 50%;
	}
	.header-v2 .mega-menu ul.navbar-nav .sub-menu .col-md-8{
		width: 100%;
	}
	.home4 .mega-menu ul.navbar-nav .sub-menu .col-md-2{
		width: 50%;
	}
	.home4 .mega-menu ul.navbar-nav .sub-menu .col-md-8{
		width: 100%;
	}
	.header-v5 .mega-menu ul.navbar-nav .sub-menu .col-md-2{
		width: 50%;
	}
	.header-v5 .mega-menu ul.navbar-nav .sub-menu .col-md-8{
		width: 100%;
	}
	.home2-head .col-sm-4{
		width: 100%;
		padding: 0;
	}
	 .modal.fade .modal-dialog .modal-content .modal-body{
		width: 80%;
	}
	.banner-home4-v1 .text{
		padding: 15px 5%;
		h2{
			font-size: 24px;
		}
		h4{
			font-size: 18px;
		}
	}
	.footer-bottom{
	.col-xs-4{
		width: 100%;
		text-align: center;
	}
}
#header .search{
	width: 93%;
}
.icon-menu-mobile{
	left: 15px;
}
.banner-home1 .tp-caption{
	a.title{
	font-size: 24px;
	line-height: 29px;
	padding-bottom: 10px;
}
 &.comment_slider{
		top: 64%;
	}
	 }
.banner-home1.home5 .tp-simpleresponsive .comment_slider{
	top: 56.5% !important;
}
.width-680{
	width: 100%;
	}
	.col-md-6.left{
		width: 100%;
		&.home3{
			width: 50%;
		}
		&.hover-home3{
				width: 50%;
			}

	}
	.gild {
		.col-xs-6{
			width: 50%;
			@media screen and ( max-width: 526px ){
			width: 100%;
			padding: 0;
			.images img{
				width: 100%;
			}
		}
		}
		.col-md-6.left{
		width: 50%;
		@media screen and ( max-width: 526px ){
			width: 100%;
			padding: 0;
			.imsges img{
				width: 100%;
			}

		}
	}
	&.ver1{
		.col-xs-6{
			width: 50%;
			@media screen and ( max-width: 680px ){
			width: 100%;
			padding: 0;
			 img{
				width: 100%;
			}
		}
		}
		.col-md-6.left{
		width: 50%;
		@media screen and ( max-width: 680px ){
			width: 100%;
			padding: 0;
			img{
				width: 100%;
			}

		}
	}
	}
}
	.home2{
		.col-md-6.left{
			width: 50%;
			.video-home2-v1 .col-md-4 .ver1.overlay.video{
				width: 100%;
			}
			.video-home2-v1 .col-md-4 .video-v2{
				width: 100%;
			}
			
			.home3{
				width: 50%;
			}
		}
	}
.banner {
	.text-banner h2{
		font-size: 16px;
}
	} 
	.banner.col-md-9 .button-banner{
		height: 22px;
	}
	.footer-home3{
		.col-xs-4{
			width: 100%;
			text-align: center;
			.widget.contact{
				padding-top: 30px;
			}
			.newsletter-v1{
				text-align: center !important;
				padding-top: 30px!important;
			}
		}
	}

}



.banner-home2-v2{
	.img-responsive{
		width: 100%;
	}
}
.title_slider a.title{
	font-size: 24px;
	line-height: 29px;
}
.home2-head .col-md-4{
	float: left;
	.post-item.cat-1.overlay{
	width: 100%;
	padding-right: 0;
}
	} 
.home2-head .col-md-4 .post-item.cat-2.overlay{
	width: 100%;
	padding-left: 0;
}
.video-home2-v1 .col-md-4 .overlay.video{
	width: 100%;
}
.video-home2-v1 .col-md-4 .video-v2{
	width: 100%;
	padding-left: 0;
}
.widget {
	.banner .images img{
	width: 100%;
}} 
.top-rate .images img{
	width: 100%;
}
#footer.footer-v1.ver2{
	.images{
		img{
			width: 100%;

		}
	}
}
	.most-home3{
		.col-xs-6{
			&:nth-child( 2n+5){
					clear: left;
				}
		}
	}
	.instagram.box .width-50{
		width: 100%;
		&:nth-child(2n+1){
			padding-right: 0;
		}
		&:nth-child(2n){
			padding-left: 0;
		}
	}
	.width-767{
		width: 100%;
	}
	.br-767-none{
		br{
			display: none;
		}
	}
	.banner-home3-v1 .text p{
		padding-bottom: 10px;
		padding-top: 5px;
	}
	.footer-bottom-home3{
		.float-left, .float-right{
			width: 100%;
			text-align: center;
		}
	}
@media screen and ( max-width: 568px){
	.post-item.ver2.most .text.home1{
		padding: 0 15px;
	}
	.banner-contact-v1 .text{
		padding: 15px 3%;
		 h2{
			font-size: 24px;
		}
		h4{
			font-size: 18px;
		}		    
}
.banner-post-right-v1 .text{
	h2 {
		font-size: 24px;
	}
	h4{
		font-size: 18px;
	}
	} 
.hello .text h2{
	font-size: 24px;
}
	.upsell-product{
		padding-top: 20px;
	}
	.home2{
		.col-xs-6{
			width: 50%;
		}
	}
	.banner-home1 .tp-caption{
		&.comment_slider{
		display: none;
	}
	 }
	 .most-home3{
	 	.col-xs-6{
	 	width: 50%;
	 }
	 }
	 .col-xs-6{
	 	width: 100%;
	 	&.hover-home3{
	 		width: 50%;
	 	}
	 }
	 .width-568{
	 	width: 100%!important;
	 }
	 .banner.col-sm-9{
	 	display: none;
	 }
	 .post-item .text h1 a, .post-item .text h1 span{
	 	    font: 400 24px/25px "Oswald";
	 	br{
	 		display: none;
	 	}
	 }
	 #header .header-top{
	 	padding: 0;
	 }
	 #header .header-top .social a{
	 	width: 45px;
	 }
	 .col-md-6.left.home3{
	 	width: 100%;
	 	padding: 0;
	 	margin-bottom: 5px!important;
	 }
	 .most-home4{
	 	.col-xs-4{
	 		width: 100%;
	 		.images .img-responsive{
	 			width: 100%;
	 		}
	 	}
	 }
}
.post-item.ver2.most .text.col-xs-6.right{
	padding-bottom: 30px;
}

@media screen and ( max-width: 767px){
	.post-item.ver2 .text{
		padding-left: 10px;
		h2 span{
			font: 400 16px/18px "Oswald";
		}
	}
	.size-18 .post-item .text h2 a{
		font-size: 18px;
	}
.widget .post-item:last-child {
    margin-bottom: 30px;
}
}
				
 

.home2-head{
	padding: 30px 0;
}
.text-slideshow.home4 .text-slideshow-1 .title_slider a.title{
	font-size: 24px;
	line-height: 26px;
}
.text-slideshow.home4 .text-slideshow-1{
	right: 15px;
	left: 5px;
}
.banner-home1 .tp-caption a.title{
	line-height: 26px;
}
.categories-footer{
	float: left;
	width: 100%;
}
.post-item.ver2.most .text{
	padding: 0;
}
.tp-banner-container span{
	line-height: 13px;
}
.home2 {
	.col-xs-6{
		width: 100%;
		padding: 0;
	}
	.col-md-6.left{
	width: 100%;
	padding: 0;

}
}
@media screen and ( max-width: 480px){
	.banner-home1.home5 .tp-caption a.title{
		font-size: 19px;
    line-height: 20px;
	}
	.post-item .text-beauty-v1 .by-v1{
		margin-right: 15px;
	}
	.thu.v2{
		
		.col-md-6{
			left: 5px!important;
		}
	}
	.banner-home1 .tp-caption a.title{
		line-height: 23px;
		font-size: 20px;
	}
	.title_slider a.title br{
		display: none;
	}
	.modal.fade .modal-dialog .modal-content .input-group{
		.input-group-btn{
		width: 120px;
		&:last-child .btn{
			height:40px;
			width: 120px;
			font-size: 14px;
			font-weight: 500;
		}
	}
		.from-control{
			height: 40px;
		}
		} 
	.video-home2-v1 .col-md-4 .ver1.overlay.video{
		width: 100%;
	}
	.modal.fade .modal-dialog .modal-content {
		.modal-header .modal-title{font-size: 30px;}
	 .input-group .form-control{font-size: 20px;height: 40px;}
	.modal-body{width: 100%;padding: 0;}
		}
	.single-post .form-horizontal .head .col-md-4{
		width: 100%;
	}
	.full{
		.col-xs-4{
			width: 100%;
			.images img{
				width: 100%;
			}
		}
	}
	.col-xs-8{
		width: 100%;
	}
	.our-team{
		.col-xs-3{
			width: 50%;
			padding-bottom: 15px;
		}
	}
	.post-item .text-beauty-v1 .by{
		    margin-right: 15px;
    border-right: none;
    padding-right: 15px !important;
	}
	.widget{
		.banner{
		.post-item .text{
			right: 15%;
		}	
		}
	}
	.most-home3 .col-xs-6{
		width: 100%;
	}
}